.justify-center {
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
}

:root {
  --primary: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul li{
  list-style: none;
}
.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 4;
  /* border: 1px solid black; */
  background-color: #0B4604;
  /* background-image: url("https://free4kwallpapers.com/uploads/originals/2015/07/22/plants.jpg"); */
  margin-bottom:60px;
}
.header ul {
  text-align: center;
}
.header ul li {
  list-style: none;
  display: inline-block;
}
.header ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 15px 8px;
}
.header ul li a:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
}

.header ul li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
}
.header ul li a:hover:after {
  transform: scaleX(1);
}
.header ul li i {
  color: white;
}
.search_box {
  width: 175px;
}
.search_box input[type="text"] {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: solid 2px rgba(0, 128, 0, 0);
  font-size: 18px;
  color: white;
}
.container {
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
}
.plant-container{
  height: 530px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content:space-around;
  padding-bottom: 5px;
}
.plant-img{
  width:45%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.plant-image{
height:70%;
width:90%;
margin: auto;
}
.plant-img-options{
height:20%;
width:90%;
margin: auto;
}
.plant-details{
padding-left:3%;
width:50%;
}
.plant-details h1{
font-weight: 400;
font-size:45px;
}
.plant-details span{
font-weight: 400;
font-size: 30px;
}
.plant-details .buttons{
display:flex;
width:100%;
margin-top: 20px;
justify-content:space-around;
}
.our_button{
width: 225px;
height: 45px;
border-radius: 5px;
border-style: none;
/* border-color: var(--primary-color); */
background-color: #0B4604;
color: white;
font-size:18px;
cursor: pointer;
}
.our_button:hover{
background-color: #2bae1c;
transition-duration: 0.3s;
}
.plant-specifications{
margin-top: 20px;
width:100%;
display: flex;
flex-direction: column;
column-count: 2;
}
.plant-specification{
display: flex;
width : 47%;
align-items: center;
margin:5px 0px;
}
.plant-specification .img{
width:20%;
margin: 0 auto;
}
.plant-specification .plant-specification-detail{
width:75%;
margin:0 auto;
}
.plant-seller span{
font-size:16px;
margin-left: calc(100% - 180px);
margin-top: 60px;
}

main{
margin-bottom: 20px;
}

.facts{
margin-bottom: 15px;
}

.footer-gray {
background-color: #efefef;
width: 100%;
}

.footer-custom {
color: #888;
font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
max-width: 1008px;
box-sizing: border-box;
margin: 0 auto;
padding: 24px;
}

.footer-custom:after {
display: table;
clear: both;
content: "";
}

.footer-lists:after {
display: table;
clear: both;
content: "";
}

.ftr-hdr {
color: #000;
font: 22px/1.4 "BebasNeueRegular", BebasNeue, "Bebas Neue", Arial, sans-serif;
margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
.ftr-hdr {
  font-size: 18px;
}
}

.footer-list-wrap {
width: 50%;
float: left;
box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
.footer-list-wrap {
  width: 33.3333%;
}
}

@media only screen and (min-width: 768px) {
.footer-list-wrap {
  width: 33%;
}
}

.ftr-links-sub {
padding: 0;
margin: 0;
}

.ftr-links-sub:after {
display: table;
clear: both;
content: "";
}

.ftr-links-sub li {
display: block;
list-style-type: none;
margin: 0;
padding: 3px 0;
color: #888;
font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/* text-transform: uppercase; */
/*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
text-decoration: none;
color: #888;
padding: 5px 0;
display: block;
}

.footer-custom .footer-legal a {
display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
text-decoration: underline;
color: #888;
cursor: pointer;
}

@media only screen and (min-width: 768px) {
.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  padding: 0;
}
}
/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
text-align: center;
}

#ftrEmailForm {
margin-top: 5px;
height: 44px;
}

#ftrEmailForm .error {
display: none;
color: red;
text-align: left;
}

#ftrEmailForm #ftrEmailInput {
background: none repeat scroll 0 0 #fff;
border: 1px solid #d6d6d6;
box-sizing: border-box;
color: #888;
float: left;
font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
padding: 5px;
width: 70%;
height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
border: 1px solid #ef9223;
outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
width: 30%;
height: 100%;
padding: 5px;
float: left;
border: 1px solid #dfdfdf;
box-sizing: border-box;
color: #000;
font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue",
  Helvetica, Arial, sans-serif;
text-align: center;
text-transform: uppercase;
background: #fff;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, white),
  color-stop(100%, #e1e1e1)
);
background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
cursor: pointer;
vertical-align: middle;
outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
background: black;
color: #fff;
outline: none;
}
/* BEGIN SOCIAL STYLES*/

.footer-social {
text-align: center;
}

.footer-social ul {
padding: 0;
display: inline-block;
list-style-type: none;
}

.footer-social ul:after {
display: table;
clear: both;
content: "";
}

.footer-social li {
float: left;
margin: 0 15px 0 0;
padding: 0;
}

@media only screen and (min-width: 768px) {
.footer-lists {
  width: 100%;
}
.footer-email {
  width: 50%;
  float: left;
  text-align: left;
}
.footer-social {
  width: 45%;
  margin-left: 5%;
  float: left;
  text-align: left;
}
}

@media only screen and (min-width: 1008px) {
.footer-lists {
  width: 66.6666%;
  float: left;
}
.footer-email {
  width: 33.3333%;
}
.footer-social {
  width: 33.3333%;
  float: right;
  margin-left: 0;
}
}

.footer-legal {
padding: 15px 0 0;
clear: left;
}

@media only screen and (min-width: 768px) {
.footer-legal {
  width: 66.6666%;
  float: left;
}
}
#footer {
background-color: #262626;
color: white;
padding-top: 4.5px;
height: 30px;
}
#footer a {
color: white;
text-decoration: none;
}
#footer a:hover {
transition: 300ms ease-in-out;
color: #eb9100;
}
footer li a {
margin-top: 15px;
}
