.justify-center {
    justify-content: center;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  
  :root {
    --primary: green;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    /* background-image: url("https://free4kwallpapers.com/uploads/originals/2015/07/22/plants.jpg");
    background-size: cover; */
  }
  .header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 4;
    /* border: 1px solid black; */
    background-color: #0B4604;
    /* background-image: url("https://free4kwallpapers.com/uploads/originals/2015/07/22/plants.jpg"); */
    margin-bottom:60px;
  }
  .header ul {
    text-align: center;
  }
  .header ul li {
    list-style: none;
    display: inline-block;
  }
  .header ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 15px 8px;
  }
  .header ul li a:hover {
    transform: scale(1.2);
    transition: transform 400ms ease-in-out;
  }
  
  .header ul li a:after {
    display: block;
    content: "";
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
  }
  .header ul li a:hover:after {
    transform: scaleX(1);
  }
  .header ul li i {
    color: white;
  }
  .search_box {
    width: 175px;
  }
  .search_box input[type="text"] {
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    border: solid 2px rgba(0, 128, 0, 0);
    font-size: 18px;
    color: white;
  }
.container {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
    border: 1px solid black;
}
.plant-container{
    height: 530px;
    margin: 0 auto;
    width: 95%;
    border: 1px solid black;
    display: flex;
    justify-content:space-around;
    padding-bottom: 5px;
}
.plant-img{
    width:45%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.plant-image{
  height:70%;
  width:90%;
  margin: auto;
  border: 1px solid black;
}
.plant-img-options{
  height:20%;
  width:90%;
  margin: auto;
  border: 1px solid black;
}
.plant-details{
  padding-left:3%;
  width:50%;
  border: 1px solid black;
}
.plant-details h1{
  font-weight: 400;
  font-size:45px;
}
.plant-details span{
  font-weight: 400;
  font-size: 30px;
}
.plant-details .buttons{
  display:flex;
  width:70%;
  margin-top: 20px;
  
  /* justify-content:space-between; */
}
.our_button{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  /* border-color: var(--primary-color); */
  background-color: #0B4604;
  color: white;
  cursor: pointer;
}
.our_button:hover{
  background-color: #2bae1c;
  transition-duration: 0.3s;
}